body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.container .item {
    border-bottom: 1px solid black;
    height: 40px;
    overflow: hidden;
}